PirateRouletteNetworkGame/Library/
PirateRouletteNetworkGame/obj/
PirateRouletteNetworkGame/.vs/
PirateRouletteNetworkGame/Temp/
*.csproj
*.sln
PirateRouletteNetworkGame/Logs/
*.xml
*.iml

*.json

PirateRouletteNetworkGameServer/Library/
PirateRouletteNetworkGameServer/obj/
PirateRouletteNetworkGameServer/.vs/
PirateRouletteNetworkGameServer/Temp/

PirateRouletteNetworkGameServer/Logs/

